@import url("fonts.css");


body {
    background: #F1F1F1;
}
.side_menu {
    background: #FFFFFF;
    width: 240px;
    height: 200vh;
}
.side_menu a {
    text-decoration: none;
    color: #000000;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    display: block;
    font-size: 14px;
    line-height: 16px
    padding: 12px 0;
    margin-top: 24.50px;
}
.side_menu a:hover {
    background: rgba(0, 0, 0, 0.05);
}
.side_menu a:active {
    background: rgba(0, 0, 0, 0.1); 
}

.side_menu a svg {
    fill: #606060;
}
.side_menu a .active svg {
    fill: #f00;
}
.side_menu a .text{
    margin-left: 26px;
    top: 27px;
}
.side_menu a .icon {
    margin-left: 26px;
    background-color: lightblue;
    display: inline-block; 
    width: 20px;
    text-align: center;
}
hr {
    width: 240px;
    height: -4px;
    left: 0px;
    top: 200px;
    color: #E5E5E5;
    margin-top: 26px;
}
h2 {
    margin-top: 16px;
    margin-left: 24px;
    color: #606060;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    display: block;
    font-size: 14px;
    line-height: 16px
    padding: 12px 0;
}
.side_menu a .text_channel {
    margin-left: 26px;
    top: 27px;
}
.side_menu a .icon_channel {
    margin-top: 5px;
    margin-left: 26px;
    background-color: lightblue;
    display: inline-block; 
    width: 20px;
    text-align: center;
}
.side_menu a .icon_channel svg {
    fill: #0572EF;
}
.side_menu a .text_channel svg {
    margin-left:  30px;
    fill: #2860CD;
    display: inline-block;
}
